<h3>Post Form</h3>

<%= form_for (@post) do |f| %>

<%= f.label :title, "Post title:" %>
<%= f.text_field :title %>

<%= f.label :description, "Post description:" %>
<%= f.text_area :description %>

<%= f.submit %>
<% end %>